# conda env create -f environment.yml
name: lume-genesis-dev2
channels:
  - conda-forge
dependencies:
  - python>=3.10
  - eval-type-backport
  - lume-base
  - genesis2=*=mpi_openmpi*
  - genesis4 >=4.6.8=mpi_openmpi*
  - h5py=*=mpi_openmpi*
  - jinja2
  - lark
  - numpy
  - openpmd-beamphysics >=0.11.0
  - prettytable
  - psutil
  - pydantic >2
  - pydantic-settings
  # Developer
  - pytao
  - ffmpeg
  - pytest
  - pytest-cov
  - jupyterlab >=3
  - jupyterlab-lsp
  - python-lsp-server
  - matplotlib
  - pygments
  - mkdocs
  - mkdocstrings
  - mkdocs-jupyter
  - mkdocs-material
  - mkdocstrings-python
  - ruff
  - typing-extensions
  - pip
